/*font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --background: #1a1f2a;
  --main-color: #fbfbfd;
  --sec-color: #86868b;
  --og-background: #0d111a;
}

body {
  background-color: var(--og-background) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: var(--main-color);
}
h1 {
  font-size: 62px;
  text-align: center;
  margin: 50px;
}

h2 {
  font-size: 32px;
  line-height: 2;
}

h3 {
  font-size: 36px;
  text-align: center;
}

h4 {
  margin: 50px;
}
h6 {
  font-size: 18px;
  color: var(--main-color);
}

p {
  font-family: "Nunito", sans-serif;
  line-height: 30px;
  font-size: 16px;
  color: var(--main-color);
}

ul {
  padding: 0px;
  list-style: none;
}

hr {
  border: none;
  border-top: 2px dashed #67d5d2;
  margin: 10px 0;
  opacity: 75%;
}

ol {
  list-style: none;
  padding: 0px;
}

li {
  padding: 0;
}

.header h1 {
  margin: 20px;
  color: var(--main-color);
}

.brandName {
  font-size: 24px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}
h6.contactTitles {
  margin: 20px 0;
  color: var(--sec-color);
  font-size: 18px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.faqQAndA {
  margin-bottom: 30px;
  text-align: left;
}

.faqQAndA p {
  line-height: 30px;
  font-size: 18px;
}
h3.questionSection{
  text-align: left;
  font-size: 21px;
}
h4.appeal-description {
  margin: 20px auto;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  line-height: 30px;
  font-size: 21px;
  text-align: center;
  max-width: 800px;
  display: block;
}

.form-control {
  border-radius: 2px;
  padding: 15px;
}

.banAppealFormTitle {
  color: var(--main-color);
  font-weight: 300;
  font-size: 21px;
}

.appealForm {
  margin: 80px auto;
  max-width: 800px;
  display: block;
}

.submitButton {
  padding: 15px 35px;
  margin: 10px;
  font-size: 20px;
  color: var(--main-color);
  font-weight: 600;
  background: none;
  border: solid white 2px;
  border-radius: 4px;
}

.submitButton:hover {
  background: var(--main-color);
  color: var(--og-background);
  transition: all 250ms ease-in-out;
}

.trackButton {
  padding: 15px 35px;
  margin: 10px;

  font-size: 20px;
  color: var(--main-color);
  font-weight: 600;
  background: #1e2758;
  border: solid white 2px;
  text-decoration: none;
  border-radius: 4px;
}
.trackButton:hover {
  text-decoration: underline;
}
.trackDescription {
  color: aliceblue;
  font-size: 18px;
}
.copyright {
  font-family: "Roboto", sans-serif;
  color: var(--sec-color);
  font-size: 28px;
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/src/hero.png") no-repeat center center / 100% 120%;
  margin-bottom: 70px;
}

.hero h1 {
  text-align: center;
  font-size: 62;
}
.hero h3 {
  text-align: center;
  font-size: 21px;
  line-height: 35px;
}

.homeButton {
  padding: 30px 45px;
  margin: 0px auto;
  font-size: 21px;
  background: #1e2758;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600;
  border: solid white 2px;
  border-radius: 4px;
}

.socialMediaLinks {
  color: var(--main-color);
}

.bodySection {
  display: block;
  margin: 80px auto;
}

#active-link {
  color: #fff;
  text-decoration: underline;
}

.nav-link {
  color: #e1e1e1cc;
  font-family: "Nunito", sans-serif;
  line-height: 30px;
  font-size: 16px;
  margin: 10px;
  font-weight: 600;
}

.nav-link:hover {
  color: white;
  font-weight: 800;
  text-decoration: underline;
}

.bodySection img {
  padding: 0 6px;
  border-radius: 12px;
}

.footerSection {
  background-color: var(--background);
  flex: 1;
  text-align: center;
}

.footerSection p {
  font-size: 12px;
}

.footerSection .row {
  display: flex;
  align-content: center;
}

.authorNote {
  color: var(--main-color);
  text-decoration: none;
}

.open-source {
  color: var(--sec-color);
  font-size: 10px;
}

nav .container-fluid {
  padding: 20px 0;
}

nav {
  background: var(--background) !important;
}
@media (max-width: 800px) {
  h1 {
    margin: 30px;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    margin: 30px  0;
    line-height: 30px;
  }
  h3 {
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 21px;
    text-align: left;
  }

  h6 {
    font-size: 16px;
  }
  h4 {
    text-align: center;
    margin: 0;
    line-height: 3;
    text-align: center;
  }

  p, .faqQAndA p{
    line-height: 1.7;
    font-size: 16px;
  }
  
  h4.appeal-description, .appeal-description{
    margin: 0 70px;
  }

  .navBar {
    padding: 7px !important ;
  }
  .hero h1 {
    margin-top: 10px;
    font-size: 32px;
    line-height: 1.5;
    text-align: left;
  }

  .hero h5 {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }

  .hero h3 {
    font-size: 14px;
    text-align: left;
    margin: 0 30px;
    line-height: 1.5;
  }

  .hero{
    margin: 0px ;
  }
  .headers {
    padding: 10px;
  }
  .row {
    display: block;
    margin: 0 auto;
    margin: 10px 0;
  }
  .bodySection {
    margin-top: 0;
  }

  .logo {
    width: 100px;
    height: auto;
  }

.trackDescription{
  margin-top:30px;
    flex-wrap: wrap;
    
  }
  .trackButton{
    display: inline;
    padding: 15px 20px;
  }
  .homeButton {
    padding: 20px 35px;
    margin: 15px auto;
    font-size: 18px;
  }
}
